ipython
ipython-sql
ipywidgets
jupyter
matplotlib
mysql-connector-python
numpy
pandas
psycopg2-binary
python-dotenv==1.0.1
seaborn
sqlalchemy
pymysqlpandas
sqlalchemy
matplotlib
jupyterpandas
numpy
matplotlib
seaborn
sqlalchemy
jupyter
pandas
numpy
matplotlib
seaborn
sqlalchemy
ipython
ipywidgets
jupyterpandas
numpy
matplotlib
seaborn
sqlalchemy
ipython
ipywidgets
jupyter
pandas
numpy
matplotlib
seaborn
sqlalchemy
ipython
ipywidgets
jupyterpandas
numpy
matplotlib
seaborn
sqlalchemy
jupyterpandas
matplotlib
seaborn
mysql-connector-python
pandas
numpy
matplotlib
seaborn
sqlalchemy
pymysql
pandas
numpy
matplotlib
seaborn
sqlalchemy
pymysql
pandas
numpy
matplotlib
seaborn
mysql-connector-pythonpandas
numpy
matplotlib
seaborn
sqlalchemy
jupyterpandas
numpy
matplotlib
seaborn
sqlalchemy
jupyter
ipython
psycopg2-binarypandas
numpy
matplotlib
seaborn
sqlalchemy
jupyterpandas
matplotlib
seaborn
sqlalchemy
jupyterpandas
matplotlib
seaborn
sqlalchemy
pymysqlpandas
matplotlib
seaborn
sqlalchemy
pymysql
